body {
  background-color: #eee;
  transition: color 1s ease, background-color 1s ease;
}

body.dark {
  background-color: #202123;
  color: #fff;
  /*#region Tables*/
  /*#endregion*/
  /*#region Footer*/
  /*#endregion */
}

body.dark table {
  background-color: #202123;
}

body.dark table thead {
  background-color: #1b5e20;
}

body.dark tr:hover {
  background-color: #009dff;
}

body.dark .dataTables_info {
  color: #fff;
}

body.dark .dataTables_wrapper,
body.dark .dataTables_paginate,
body.dark .paginate_button.disabled {
  color: #fff;
}

body.dark .primary-text {
  color: #fff;
}

body.dark .footer {
  background-color: #202123;
  color: #fff;
}

body.dark .page-footer {
  background-color: #202123;
}

body.dark .page-footer .footer-text {
  color: #fff;
}

body.dark .bg-primary {
  color: #1b5e20;
}

body.dark .card {
  background-color: rgba(255, 255, 255, 0.2);
}

body.dark .divider {
  opacity: 0.2;
}

body.dark a {
  color: #ffffff;
}

body.dark .sidebar-menu {
  color: #fff;
  background-color: #2D2D31;
}

body.dark .sidebar-menu li a:not(.subheader) {
  color: #ffffff;
}

body.dark .sidebar-menu li a:not(.subheader):hover {
  background-color: #3B4043;
}

body.dark .sidebar-menu li a.subheader {
  color: #9AA0A6;
}

body.dark .sidebar-menu li a .material-icons {
  color: #9AA0A6;
}

body.dark .collection {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark .collection .collection-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

