/.idea
/node_modules
/public/storage
/public/mix-manifest
/public/public
/storage/*.key
/vendor
/public/documents/handbooks
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
