/* Write your custom CSS here */

.jvectormap-legend-title {
    font-size: 12px;
}
.jvectormap-legend .jvectormap-legend-tick-sample {
    height: 26px;
}
.jvectormap-legend-icons {
    background: white;
    border: black 1px solid;
}
.jvectormap-legend-icons {
    color: black;
}
.responsive-img .img-home {
    border-radius: 50%;
}
#breadcrumbs-wrapper {
    background: #f3f3f3
}
h5.breadcrumbs-header {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 1.5rem 0 0 0
}
.breadcrumbs {
    padding: 0;
    margin: 15px 0;
    list-style: none
}
.breadcrumbs>li {
    display: inline-block
}
.breadcrumbs>li>a {
    color: #fd7e14;
}
.breadcrumbs>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}
.breadcrumbs .active {
    font-weight: normal;
    color: #999
}
.breadcrumbs-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0
}
.breadcrumbs-nav {
    margin: 8px 0 9px
}
.breadcrumb:before {
    content: "\e7c3";
    font-family: "Material-Design-Icons"
}
.extra-big {
    font-size: 2500%;
}
.icon-center {
    text-align: center;
}

/* fuentes institucionales */
.hand-of-Sean-fonts {
  font-family: 'Hand of Sean';
  font-weight: 400;
}


.zurich-bt-fonts {
  font-family: 'Zurich BT';
  font-weight: 400;
}


.green-complement {
  background-color: #59b548 !important;
}

.green-complement-text {
  color: #59b548 !important;
}

.zurich-bt-fonts .green-complement-text {
  font-weight: bolder;
}




.dataTable {
  width: 100%,
}

.swal2-cancelar-custom {
    margin-right: 30px;
    margin-left: 30px;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #dd3333;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}

.swal2-guardar-custom {
    margin-right: 30px;
    margin-left: 30px;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #009688;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}

.swal2-postular-custom {
    margin-right: 30px;
    margin-left: 30px;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #03a9f4;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}


.mailbox-options ul {
    overflow: hidden;
    background: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding-left: 20px;
}

.mailbox-options ul li {
    float: left;
}

.mailbox-options ul li.text-mailbox {
    display: block;
    font-size: 13px;
    padding: 12px 16px;
    color: rgba(0,0,0,.7);
}

.mailbox-options ul li.active{
    color: rgba(248, 182, 1, 0.7);
}

.mailbox-options ul li a {
    display: block;
    font-size: 13px;
    padding: 12px 16px;
    color: rgba(0,0,0,.7);
}

.mailbox-options ul li a.active{
    color: rgba(248, 182, 1, 0.7);
}

#popoverOpener {
    position: absolute;
    left: 50%;
    margin-left: -10vw;
    text-align: center;
    top: 45vh;
    width: 20vw;
  }

  .bootstrap .popover {
    transition: left 400ms ease-out, top 250ms ease-in;
  }

  .popover-content > div {
    text-align: center;
  }

  .popover-content > div > a:link {
    border: 1px solid lavender;
    border-radius: 8px;
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    transition: all 250ms;
  }

  .popover-content > div > a:hover {
    background-color: #eeeeff;
    border-color: #AFAFBF;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
  }


.tabs {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.tabs .tab a {
    color: #ff8f00;
}

.tabs .tab a:hover {
    color: #000000;
}

.tabs .tab.disabled a {
    color: #b0bec5;
    cursor: default;
}

.tabs .indicator {
    background-color: #ff8f00;
}

/*color tabs personalizados vicmo*/
.tabs .tab .active {
    color:#ff8f00;
    /*Custom Text Color While Active*/
    background-color: rgba(241, 195, 93, 0.548);
    /*Custom Background Color While Active*/
}

.fixed-action-btn {
    position: fixed;
    top: 63%;
    right: 3%;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    max-width: 970px;
    padding: 85px 50px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .plans .plan input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .plans .plan {
    cursor: pointer;
    width: 48.5%;
  }

  .plans .plan .plan-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #e1e2e7;
    border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
    position: relative;
  }

  .plans .plan .plan-content img {
    margin-right: 30px;
    height: 72px;
  }

  .plans .plan .plan-details span {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #252f42;
  }

  .container .title {
    font-size: 16px;
    font-weight: 500;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    color: #252f42;
    margin-bottom: 20px;
  }

  .plans .plan .plan-details p {
    color: #646a79;
    font-size: 14px;
    line-height: 18px;
  }

  .plans .plan .plan-content:hover {
    -webkit-box-shadow: 0px 3px 5px 0px #e8e8e8;
    box-shadow: 0px 3px 5px 0px #e8e8e8;
  }

  .plans .plan input[type="radio"]:checked + .plan-content:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: #ff8f00;
    right: 20px;
    top: 20px;
    bottom: 20px;
    border-radius: 100%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 2px #ff8f00;
    box-shadow: 0px 0px 0px 2px #ff8f00;
  }

  .plans .plan input[type="radio"]:checked + .plan-content {
    border: 2px solid #ff8f00;
    background: #fef3ea;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }

  @media screen and (max-width: 991px) {
    .plans {
      margin: 0 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 40px;
    }

    .plans .plan {
      width: 100%;
    }

    .plan.complete-plan {
      margin-top: 20px;
    }

    .plans .plan .plan-content .plan-details {
      width: 70%;
      display: inline-block;
    }

    .plans .plan input[type="radio"]:checked + .plan-content:after {
      top: 45%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
    }
  }

  @media screen and (max-width: 767px) {
    .plans .plan .plan-content .plan-details {
      width: 60%;
      display: inline-block;
    }
  }

  @media screen and (max-width: 540px) {
    .plans .plan .plan-content img {
      margin-bottom: 20px;
      height: 56px;
      -webkit-transition: height 0.4s;
      -o-transition: height 0.4s;
      transition: height 0.4s;
    }

    .plans .plan input[type="radio"]:checked + .plan-content:after {
      top: 20px;

      right: 10px;
    }

    .plans .plan .plan-content .plan-details {
      width: 100%;
    }

    .plans .plan .plan-content {
      padding: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
    }
  }

  .radio-buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .custom-radio input {
    display: none;
  }

  .radio-btn {
    margin: 10px;
    width: 210px;
    height: 80px;
    border: 3px solid transparent;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px #c3c3c367;
    cursor: pointer;
  }





  .radio-btn h3 {
    color: #ff8f00;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .custom-radio input:checked + .radio-btn {
    border: 2px solid #ff8f00;
    background: #fef3ea;
    -webkit-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
  }


