/* Write your custom CSS here */

.jvectormap-legend-title {
    font-size: 12px;
}
.jvectormap-legend .jvectormap-legend-tick-sample {
    height: 26px;
}
.jvectormap-legend-icons {
    background: white;
    border: black 1px solid;
}
.jvectormap-legend-icons {
    color: black;
}
.responsive-img .img-home {
    border-radius: 50%;
}
#breadcrumbs-wrapper {
    background: #f3f3f3
}
h5.breadcrumbs-header {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 1.5rem 0 0 0
}
.breadcrumbs {
    padding: 0;
    margin: 15px 0;
    list-style: none
}
.breadcrumbs>li {
    display: inline-block
}
.breadcrumbs>li>a {
    color: #009891;
}
.breadcrumbs>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}
.breadcrumbs .active {
    font-weight: normal;
    color: #999
}
.breadcrumbs-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0
}
.breadcrumbs-nav {
    margin: 8px 0 9px
}
.breadcrumb:before {
    content: "\e7c3";
    font-family: "Material-Design-Icons"
}
.extra-big {
    font-size: 2500%;
}
.icon-center {
    text-align: center;
}

/* fuentes institucionales */
.hand-of-Sean-fonts {
  font-family: 'Hand of Sean';
  font-weight: 400;
}

.zurich-bt-fonts {
  font-family: 'Zurich BT';
  font-weight: 400;
}

/*color tabs personalizados vicmo*/
.tabs .tab .active {
  color:#26a69a;
  /*Custom Text Color While Active*/
  background-color: rgba(89, 181, 72, 0.2);
  /*Custom Background Color While Active*/
}

