/* Write your custom CSS here */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary-lighten: #c8e6c9;
    --primary: #39A900;
    --primary-darken: #1b5e20;
    --secondary: #00324D;
    --tertiary: #82DEF0;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-work-sans: "Work Sans", -apple-system,Roboto, BlinkMacSystemFont, "Segoe UI",  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html {
    font-family: var(--font-family-work-sans);
}

.side-nav.fixed ul li.active > a.collapsible-header, .side-nav.fixed ul li.active > a {
    font-weight: 500;
}
.side-nav ul li a.active-page, .side-nav.fixed ul li a.active-page {
    font-weight: 500;
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-primary-lighten {
    background-color: var(--primary-lighten) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary {
    background-color: var(--tertiary) !important;
}

.bg-info {
    background-color: var(--info) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-success {
    background-color: var(--success) !important;
}
.bg-warning {
    background-color: var(--warning) !important;
}

.btn-flat.waves-red {
    color: var(--danger);
}

.primary-text {
    color: var(--primary) !important;
}

.justify-text{
    text-align: justify;
    text-justify: inter-word;
}

.secondary-text {
    color: var(--secondary) !important;
}

.success-text {
    color: var(--success) !important;
}

.info-text {
    color: var(--info) !important;
}

.warning-text {
    color: var(--warning) !important;
}

.danger-text {
    color: var(--danger) !important;
}

.btn-flat.waves-primary {
    color: var(--primary) !important;
}
.btn-flat.waves-success {
    color: var(--success) !important;
}
.btn-flat.waves-danger {
    color: var(--danger) !important;
}
.btn-flat.waves-warning {
    color: var(--warning) !important;
}
.btn-flat.waves-info {
    color: var(--info) !important;
}
.h-12{
    height: 3rem;
}
.w-12{
    width: 3rem;
}
.uppercase{
    text-transform: uppercase;
}
.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.card-title h1{
    font-weight: bold;
    color: var(--primary);
}
.text-3x{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.font-bold{
    font-weight: 700;
}
.items-center{
    align-items: center;
}
.gap-x-2{
    column-gap: 0.5rem;
}
.font-bold{
    font-weight: 700;
}
.jvectormap-legend-title {
    font-size: 12px;
}
.jvectormap-legend .jvectormap-legend-tick-sample {
    height: 26px;
}
.jvectormap-legend-icons {
    background: white;
    border: black 1px solid;
}
.jvectormap-legend-icons {
    color: black;
}
.responsive-img .img-home {
    border-radius: 50%;
}
#breadcrumbs-wrapper {
    background: #f3f3f3
}
h5.breadcrumbs-header {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 1.5rem 0 0 0
}
.breadcrumbs {
    padding: 0;
    margin: 15px 0;
    list-style: none
}
.breadcrumbs>li {
    display: inline-block
}
.breadcrumbs>li>a {
    color: var(--primary);
}
.breadcrumbs>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}
.breadcrumbs .active {
    font-weight: normal;
    color: #999
}
.breadcrumbs-title {
    font-size: 1.5rem;
    line-height: 1.804rem;
    margin: 18px 0 0
}
.breadcrumbs-nav {
    margin: 8px 0 9px
}
.breadcrumb:before {
    content: "\e7c3";
    font-family: "Material-Design-Icons"
}
.extra-big {
    font-size: 2500%;
}
.icon-center {
    text-align: center;
}

/* fuentes institucionales */
.hand-of-Sean-fonts {
  font-family: 'Hand of Sean';
  font-weight: 400;
}


.zurich-bt-fonts {
  font-family: 'Zurich BT';
  font-weight: 400;
}


.green-complement {
  background-color: #59b548 !important;
}

.green-complement-text {
  color: #59b548 !important;
}

.zurich-bt-fonts .green-complement-text {
  font-weight: bolder;
}




.dataTable {
  width: 100%,
}

.swal2-cancelar-custom {
    margin-right: 30px;
    margin-left: 30px;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #dd3333;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}

.swal2-guardar-custom {
    margin-right: 30px;
    margin-left: 30px;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #009688;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}

.swal2-postular-custom {
    margin-right: 30px;
    margin-left: 30px;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #03a9f4;
    color: #fff;
    font-size: 1.0625em;
    margin: .3125em;
    padding: .625em 2em;
    font-weight: 500;
    box-shadow: none;
}


.mailbox-options ul {
    overflow: hidden;
    background: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    margin: 0;
    padding-left: 20px;
}

.mailbox-options ul li {
    float: left;
}

.mailbox-options ul li.text-mailbox {
    display: block;
    font-size: 13px;
    padding: 12px 16px;
    color: rgba(0,0,0,.7);
}

.mailbox-options ul li.active{
    color: rgba(248, 182, 1, 0.7);
}

.mailbox-options ul li a {
    display: block;
    font-size: 13px;
    padding: 12px 16px;
    color: rgba(0,0,0,.7);
}

.mailbox-options ul li a.active{
    color: rgba(248, 182, 1, 0.7);
}

#popoverOpener {
    position: absolute;
    left: 50%;
    margin-left: -10vw;
    text-align: center;
    top: 45vh;
    width: 20vw;
  }

  .bootstrap .popover {
    transition: left 400ms ease-out, top 250ms ease-in;
  }

  .popover-content > div {
    text-align: center;
  }

  .popover-content > div > a:link {
    border: 1px solid lavender;
    border-radius: 8px;
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    transition: all 250ms;
  }

  .popover-content > div > a:hover {
    background-color: #eeeeff;
    border-color: #AFAFBF;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
  }


.tabs {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.tabs .tab a {
    color: var(--primary);
}

.tabs .tab a:hover {
    color: #000000;
}

.tabs .tab.disabled a {
    color: #b0bec5;
    cursor: default;
}

.tabs .indicator {
    background-color:  var(--primary);
}

/*color tabs personalizados vicmo*/
.tabs .tab .active {
    color: var(--primary);
    /*Custom Text Color While Active*/
    background-color: var(--primary-lighten);
    /*Custom Background Color While Active*/
}

.fixed-action-btn {
    position: fixed;
    top: 63%;
    right: 3%;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
  }

